
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
}
a:link,
a:visited {
  color: var(--accent-color);
}


header, footer {
    background-color: #584c9c;
    color: #ebebeb;
}

h1 {
    font-family: 'Mooli', sans-serif;
}

img {
    max-width: 100%;
    height:250px;
    width:250px;
    object-fit: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }




.equal {
    display: flex;
}