@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }

body {
    font-family: var(--primary-font);
    margin: 0;
    background-color: #f0ecec;
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
    color: var(--text-light);
}

#menu {
  display: block;
  font-size: 20px;
}

nav ul {
    padding: 0;
    list-style: none;
    margin-right: center;
}

nav li {
  margin-bottom: 10px; 
  text-decoration: underline;
}
main {
    text-align: center;
    font-size: 32px;
    font-family: var(--primary-font);
    font-weight: bold;
}

img {
	max-width: 100%;
  object-fit: cover;
  width: 250px;
  height: 250px;
  border: 10px solid #ebebeb;
  box-shadow: 5px 5px 10px #555;
  
}

footer {
    background-color: var(--primary-bg);
    color: var(--text-light);
    text-align: center;
    padding: 10px 0;
    background-color: var(--primary-color);
}
.hide {
  display: none; 
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); 
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.viewer img {
  max-width: 90%;
  width: 80vw;
  max-height: 90%;
  height: 80vw;
  margin: auto; 
}

.close-viewer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white; 
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
 .show{
  display: block;
 }

  nav li {
    display: inline-block;
    margin: 10px;
  }

  .gallery {
    display: grid;  
    grid-template-columns: repeat(2, 1fr);  
  }

@media screen and (min-width: 1000px) {
  .gallery {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);  
  }

  }
}